.category {
  text-align: center;
  margin: 5px;
  padding: 5px 6px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  color: #7a7a7a;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: 0.2s all ease-in-out;
}

.category:hover {
  border: 1px solid #7a7a7a;
  transform: scale(1.1);
  background-color: #e8e7e7;
}
